@model IEnumerable<Person>

<h3>Person</h3>

<div style="display: block">
    <a href="/Person/InsertPerson/">Create New Reservation</a>
</div>
<table class="table">
    <tr>
        <th>PersonID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Email</th>
        <th>PhoneNum</th>
        <th>ReserveDate</th>
    </tr>

    @foreach (var person in @Model)
    {
        <tr>
            <td><a href=/Person/ViewPerson/@person.PersonID>@person.PersonID</a></td>
            <td>@person.FName</td>
            <td>@person.LName</td>
            <td>@person.Email</td>
            <td>@person.PhoneNum</td>
            <td>@person.ReserveDate</td>
        </tr>
    }

</table>