@model IEnumerable<Person>

<h3>Person</h3>
@*<div class="background-image">

    <link rel="stylesheet" href="/css/site.css" />
</div>*@
<div style="display: block">
    <button type="button" class="btn btn-primary">
    <a class="text-light" href="/Person/InsertPerson/">Create New Reservation</a>
    </button>
</div>
<div>
    <table class="table table-light opacity-50">
    <tr>
        <th>PersonID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Email</th>
        <th>PhoneNum</th>
        <th>ReserveDate</th>
        <th>Time</th>
        <th>NumOfPeople</th>
    </tr>

    @foreach (var person in @Model)
    {
        <tr>
            <td><a href=/Person/ViewPerson/@person.PersonID>@person.PersonID</a></td>
            <td>@person.FName</td>
            <td>@person.LName</td>
            <td>@person.Email</td>
            <td>@person.PhoneNum</td>
            <td>@person.ReserveDate</td>
            <td>@person.Time</td>
            <td>@person.NumOfPeople</td>
            @*<td>@person.DateParse()</td>*@
        </tr>
    }

    </table>
</div>