 @model Person
<h1>Select new time</h1>
<h2>Current time is @Model.Time</h2>
@using (Html.BeginForm("UpdatePersonToDatabase", "Reservation", FormMethod.Post))
{
    <input asp-for="PersonID" type="hidden" value="@Model.PersonID" />
    <input asp-for="FName" type="hidden" value="@Model.FName" />
    <input asp-for="LName" type="hidden" value="@Model.LName" />
    <input asp-for="ReserveDate" type="hidden" value="@Model.ReserveDate" />


    @foreach (var time in Model.TimeSlots)
    {

        <label asp-for="Time" class="control-label">@time</label>
        <input type="radio" value="@time" name="Time" />
    }




    <div class="form-group">
    </div>
    <input type="submit" value="Select Time" class="btn btn-primary" />
}
<a href=/Reservation/Index>Cancel</a>