@using RnR1.Models
@model Person

<h3>Person</h3>
<table class="table text-white" >
    <tr>
        <th>PersonID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Email</th>
        <th>PhoneNum</th>
        <th>ReserveDate</th>
        <th>Time</th>
        <th>NumOfPeople</th>
    </tr>

    
        <tr>
            <td>@Model.PersonID</a></td>
            <td>@Model.FName</td>
            <td>@Model.LName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNum</td>
            <td>@Model.ReserveDate</td>
            <td>@Model.Time</td>
            <td>@Model.NumOfPeople</td>
        </tr>
    

</table>
<div style="display: block">
    <button type="button" class="btn btn-primary">
    <a class="text-light" href="/Person/UpdatePerson/@Model.PersonID">Update this Person</a>
    </button>
</div>
<div style="display: block">

    @using (Html.BeginForm("DeletePerson", "Person", "Post"))
    {
        <input type="hidden" asp-for="PersonID" value="@Model.PersonID" />
        <button type="button" class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" value="">
            Delete this reservation
        </button>
    }
</div>